name: Release stable version

on:
  push:
    tags:
      - "v*"
jobs:
  ci:
    name: Continuous Integration
    uses: gainsway/github-workflows-public/.github/workflows/nuget.ci.yml@main
    with:
      dotnet-version: 10.0.x
    secrets: inherit

  publish:
    name: Publish GitHub Package
    needs: ci
    uses: gainsway/github-workflows-public/.github/workflows/nuget.publish.yml@main
    with:
      dotnet-version: 10.x
    secrets: inherit

  publish-nuget-org:
    name: Publish NuGet.org
    needs: ci
    uses: gainsway/github-workflows-public/.github/workflows/nuget.publish.nuget.org.yml@main
    with:
      dotnet-version: 10.0.x
    secrets: inherit
